body {
    background: linear-gradient(green 0%, blue 100%);
    text-align: center;

}

#welcome {
    height: 400px;
    width: 400px;





}

.profile {
    height: 200px;
    width: 200px;
   




}

h1 {
    text-shadow: 2px 2px #F8BBDO;
    
    
}
.welcome1 {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
    
    
    

.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;}
